html {
  font-family: sans-serif;
}

table {
  text-align: left;
  border-collapse: collapse;
}

td,
th {
  border: 1px solid #ccc;
}

th {
  background: cornflowerblue;
  color: white;
  border-radius: 0;
  position: sticky;
  top: 0;
}
input {
  width: 100px;
}
