html {
  font-family: sans-serif;
}

table {
  text-align: left;
  border-collapse: collapse;
  margin: 0 auto;
}

td,
th {
  border: 1px solid cornflowerblue;
}

th {
  border-radius: 0;
}
input {
  width: 100px;
}
textarea {
  width: 70px;
  height: 35px;
  display: inline;
}

tr {
  background: cornflowerblue;
  color: white;
}
tr:nth-child(even) {
  background: hsl(219, 79%, 61%);
}

table button {
  background: transparent;
  border: 0;
}

.material-symbols-outlined {
  font-variation-settings: 'FILL' 1, 'wght' 700, 'GRAD' 0, 'opsz' 48;
}

td > input {
  border: 0;
  outline: 0;
}

td > input[disabled] {
  background: transparent;
  color: white;
}
